<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.mapper.EmpMapper">

    <!-- 条件分页查询 -->
    <select id="list" resultType="com.example.pojo.Emp">
        select * from emp
            <where>
             <if test="name !=null and name !=''  ">
            name like concat('%',#{name},'%')
             </if>

             <if test="gender !=null and gender !=''  ">
                and gender =#{gender}
             </if>

             <if test="begin !=null and begin !=''  ">
                and entrydate between #{begin} and #{end}
             </if>
         </where>
         order by update_time desc
    </select>


    <!-- 员工批量删除功能-->
    <delete id="deleteIds" >
        delete from emp where id in
        <foreach collection="ids" item="id" separator="," open="(" close=")">
            #{id}
        </foreach>
    </delete>


    <!--员工新增-->
    <insert id="save" >
        insert into emp (username,password,name,gender,image,job,entrydate,dept_id,create_time,update_time)
        values (#{username},#{password},#{name},#{gender},#{image},#{job},#{entrydate},#{deptId},#{createTime},#{updateTime})
    </insert>


    <update id="update">
        update emp set username=#{username},password=#{password},name=#{name},
        gender=#{gender},image=#{image},job=#{job},entrydate=#{entrydate},
        dept_id=#{deptId},create_time=#{createTime},update_time=#{updateTime}
        where id=#{id}
    </update>

</mapper>